/*--------------------------------------------------------------
Reset / normalize additions and helpers
--------------------------------------------------------------*/
a {

	text-decoration: none; cursor: pointer; color: inherit;

}

a:focus,
a::-moz-focus-inner {

	border: 0; outline: none;

}

ol, ul, li, fieldset, h1, h2, h3, h4, p, dl, dt, dd {

	margin: 0; padding: 0; list-style: none; border: 0; font-size: 1em;

}

img {

	font-style:italic; vertical-align:bottom;

}

button,
input,
select,
textarea {

	font-family: inherit; font-size: 100%; margin: 0; outline: none; box-sizing: border-box; border-radius: 0;

}

label { cursor: pointer; }
em { font-style: normal; }
figure { margin: 0; }

textarea {

	overflow: auto; vertical-align: top; resize:vertical;

}